.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__o4MUa {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: 8fgRcA8MIWoy */;
}
.freeBox__yh9U6 {
  width: 100%;
  height: auto;
  max-width: 632px /* plasmic-token: -_9hWElktusQ */;
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__yh9U6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__yh9U6 > :global(.__wab_flex-container) > *,
.freeBox__yh9U6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yh9U6 > :global(.__wab_flex-container) > picture > img,
.freeBox__yh9U6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yh9U6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yh9U6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yh9U6 > :global(.__wab_flex-container) > *,
  .freeBox__yh9U6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yh9U6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__yh9U6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___9WTvX {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___9WTvX > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___9WTvX > :global(.__wab_flex-container) > *,
.freeBox___9WTvX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9WTvX > :global(.__wab_flex-container) > picture > img,
.freeBox___9WTvX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9WTvX {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9WTvX > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9WTvX > :global(.__wab_flex-container) > *,
  .freeBox___9WTvX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9WTvX > :global(.__wab_flex-container) > picture > img,
  .freeBox___9WTvX
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___3B7Ie {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 154px;
  flex-shrink: 0;
}
.freeBox___3B7Ie > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___3B7Ie > :global(.__wab_flex-container) > *,
.freeBox___3B7Ie > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3B7Ie > :global(.__wab_flex-container) > picture > img,
.freeBox___3B7Ie
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nVuo {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.freeBox___1Gcwe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.httpsfathymcomtermsOfServices {
  color: #666666 /* plasmic-token: qEtqsP0-AcEg */;
  font-size: 14px;
  margin-right: 0px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpsfathymcomtermsOfServices:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.httpsfathymcomprivacyPolicy {
  position: relative;
  color: #666666 /* plasmic-token: qEtqsP0-AcEg */;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpsfathymcomprivacyPolicy:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.httpsfathymcomenterpriseAgreement {
  position: relative;
  color: #666666 /* plasmic-token: qEtqsP0-AcEg */;
  font-size: 14px;
  max-width: 153px;
  width: 100%;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.root .httpsfathymcomenterpriseAgreement:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__kj2W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__kj2W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kj2W > :global(.__wab_flex-container) > *,
.freeBox__kj2W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kj2W > :global(.__wab_flex-container) > picture > img,
.freeBox__kj2W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__uu6G5 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.httpswwwlowcodeunitcom {
  position: relative;
  color: #666666 /* plasmic-token: qEtqsP0-AcEg */;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwlowcodeunitcom:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.httpswwwiotEnsemblecom {
  position: relative;
  color: #666666 /* plasmic-token: qEtqsP0-AcEg */;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwiotEnsemblecom:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.httpswwwhabistackcom {
  position: relative;
  color: #666666 /* plasmic-token: qEtqsP0-AcEg */;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwhabistackcom:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.httpswwwproadjectcom {
  position: relative;
  color: #666666 /* plasmic-token: qEtqsP0-AcEg */;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwproadjectcom:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__bVuy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__bVuy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bVuy > :global(.__wab_flex-container) > *,
.freeBox__bVuy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bVuy > :global(.__wab_flex-container) > picture > img,
.freeBox__bVuy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__aQKqR {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.httpswwwhabistackcomdocs {
  position: relative;
  color: #666666 /* plasmic-token: qEtqsP0-AcEg */;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwhabistackcomdocs:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.httpswwwhabistackcomblog {
  position: relative;
  color: #666666 /* plasmic-token: qEtqsP0-AcEg */;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwhabistackcomblog:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.mailtosupportfathymcom {
  position: relative;
  color: #666666 /* plasmic-token: qEtqsP0-AcEg */;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .mailtosupportfathymcom:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__e8C2 {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__e8C2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__e8C2 > :global(.__wab_flex-container) > *,
.freeBox__e8C2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e8C2 > :global(.__wab_flex-container) > picture > img,
.freeBox__e8C2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___6NUk {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.httpswwwfathymcom {
  position: relative;
  color: #666666 /* plasmic-token: qEtqsP0-AcEg */;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwfathymcom:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__iwpD {
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
  display: none;
}
.freeBox__iwpD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__iwpD > :global(.__wab_flex-container) > *,
.freeBox__iwpD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iwpD > :global(.__wab_flex-container) > picture > img,
.freeBox__iwpD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__wX3Lh {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.text__cy5Gi {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: qEtqsP0-AcEg */;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__ns2Ob {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__n38Ec {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  width: 1em;
  height: 1em;
}
.svg___1ZgSa {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.svg__uyZfb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__znNa {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: 8fgRcA8MIWoy */;
}
.freeBox__jqjPm {
  width: 100%;
  height: auto;
  max-width: 632px /* plasmic-token: -_9hWElktusQ */;
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__jqjPm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jqjPm {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jqjPm > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jqjPm > :global(.__wab_flex-container) > *,
  .freeBox__jqjPm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jqjPm > :global(.__wab_flex-container) > picture > img,
  .freeBox__jqjPm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox___8JHt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__wi6PH {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: #666666 /* plasmic-token: qEtqsP0-AcEg */;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__zEbF {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: #666666 /* plasmic-token: qEtqsP0-AcEg */;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.freeBox__q2LUz {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__q2LUz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__q2LUz > :global(.__wab_flex-container) > *,
.freeBox__q2LUz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q2LUz > :global(.__wab_flex-container) > picture > img,
.freeBox__q2LUz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.fathymIt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.twitter {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .twitter:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.httpsgithubcomfathym:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.gitHub {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .gitHub:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.httpswwwfacebookcomFathymInc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.facebook {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .facebook:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
