.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__yV1S {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: Hm0MDAGor0XS */;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__yV1S > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__yV1S > :global(.__wab_flex-container) > *,
.freeBox__yV1S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yV1S > :global(.__wab_flex-container) > picture > img,
.freeBox__yV1S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__ryLZt {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__ryLZt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__ryLZt > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__ryLZt > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__ryLZt > :global(.__wab_flex-container) > *,
.columns__ryLZt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ryLZt > :global(.__wab_flex-container) > picture > img,
.columns__ryLZt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ryLZt {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ryLZt > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ryLZt > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ryLZt > :global(.__wab_flex-container) > *,
  .columns__ryLZt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ryLZt > :global(.__wab_flex-container) > picture > img,
  .columns__ryLZt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__p2PW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__p2PW {
    width: 100%;
  }
}
.freeBox__kyiDy {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__kyiDy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__kyiDy > :global(.__wab_flex-container) > *,
.freeBox__kyiDy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kyiDy > :global(.__wab_flex-container) > picture > img,
.freeBox__kyiDy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kyiDy {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kyiDy > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___6KzRe {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__x0Uzz {
  position: relative;
  text-align: left;
}
.bullet__jF4Jn:global(.__wab_instance) {
  position: relative;
}
.bullet__csRmq:global(.__wab_instance) {
  position: relative;
}
.bullet__uJCjs:global(.__wab_instance) {
  position: relative;
}
.text__oJcTs {
  position: relative;
  text-align: left;
}
.freeBox__p5Coo {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__p5Coo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__p5Coo > :global(.__wab_flex-container) > *,
.freeBox__p5Coo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p5Coo > :global(.__wab_flex-container) > picture > img,
.freeBox__p5Coo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p5Coo {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p5Coo > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p5Coo > :global(.__wab_flex-container) > *,
  .freeBox__p5Coo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__p5Coo > :global(.__wab_flex-container) > picture > img,
  .freeBox__p5Coo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__p1Cl7:global(.__wab_instance) {
  position: relative;
}
.svg__o0Dsk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__nlFpB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__uac3X:global(.__wab_instance) {
  position: relative;
}
.svg___2MMa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ewqnz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__kfn77 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kfn77 {
    width: 100%;
  }
}
.img___4WaRq {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___4WaRq > picture > img {
  object-fit: cover;
}
.img___4WaRq > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__f1Yjm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__f1Yjm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__f1Yjm > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__f1Yjm > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__f1Yjm > :global(.__wab_flex-container) > *,
.columns__f1Yjm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__f1Yjm > :global(.__wab_flex-container) > picture > img,
.columns__f1Yjm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f1Yjm {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f1Yjm > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f1Yjm > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f1Yjm > :global(.__wab_flex-container) > *,
  .columns__f1Yjm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__f1Yjm > :global(.__wab_flex-container) > picture > img,
  .columns__f1Yjm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__qM33P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qM33P {
    width: 100%;
  }
}
.img__zjHg {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__zjHg > picture > img {
  object-fit: cover;
}
.img__zjHg > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___5DytA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___5DytA {
    width: 100%;
  }
}
.freeBox__rPrUx {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__rPrUx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__rPrUx > :global(.__wab_flex-container) > *,
.freeBox__rPrUx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rPrUx > :global(.__wab_flex-container) > picture > img,
.freeBox__rPrUx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rPrUx {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rPrUx > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__oK9El {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__zMxe {
  position: relative;
  text-align: left;
}
.bullet__jjxE7:global(.__wab_instance) {
  position: relative;
}
.bullet__mObQc:global(.__wab_instance) {
  position: relative;
}
.bullet__m2Nkw:global(.__wab_instance) {
  position: relative;
}
.text__ePjiv {
  position: relative;
  text-align: left;
}
.freeBox___75YXl {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox___75YXl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___75YXl > :global(.__wab_flex-container) > *,
.freeBox___75YXl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___75YXl > :global(.__wab_flex-container) > picture > img,
.freeBox___75YXl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___75YXl {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___75YXl > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___75YXl > :global(.__wab_flex-container) > *,
  .freeBox___75YXl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___75YXl > :global(.__wab_flex-container) > picture > img,
  .freeBox___75YXl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__yPOcH:global(.__wab_instance) {
  position: relative;
}
.svg__pQcAf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__iNe7S {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__vrbkw:global(.__wab_instance) {
  position: relative;
}
.svg__njmfF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__iwo91 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
