.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__pbTnt {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: Hm0MDAGor0XS */;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__pbTnt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__pbTnt > :global(.__wab_flex-container) > *,
.freeBox__pbTnt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pbTnt > :global(.__wab_flex-container) > picture > img,
.freeBox__pbTnt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pbTnt {
    width: 100%;
    height: auto;
    max-width: 1104px /* plasmic-token: Hm0MDAGor0XS */;
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pbTnt > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pbTnt > :global(.__wab_flex-container) > *,
  .freeBox__pbTnt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pbTnt > :global(.__wab_flex-container) > picture > img,
  .freeBox__pbTnt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__mjTpm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__mjTpm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mjTpm > :global(.__wab_flex-container) > *,
.freeBox__mjTpm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mjTpm > :global(.__wab_flex-container) > picture > img,
.freeBox__mjTpm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mjTpm {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mjTpm > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mjTpm > :global(.__wab_flex-container) > *,
  .freeBox__mjTpm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mjTpm > :global(.__wab_flex-container) > picture > img,
  .freeBox__mjTpm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__d4DxI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__g9QYp {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g9QYp {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  }
}
.text__c0Hn9 {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  margin-top: 0px;
  padding-bottom: 0px;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__c0Hn9 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    padding-bottom: 0px;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text___4Gbpj {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4Gbpj {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.text__ymjau {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ymjau {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
    padding-bottom: 0px;
  }
}
.freeBox__zparf {
  position: relative;
  flex-direction: row;
  display: none;
}
.freeBox__zparf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__zparf > :global(.__wab_flex-container) > *,
.freeBox__zparf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zparf > :global(.__wab_flex-container) > picture > img,
.freeBox__zparf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button___4XNcI:global(.__wab_instance) {
  position: relative;
}
.svg__ok152 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__cfg9T {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__rli7X:global(.__wab_instance) {
  position: relative;
}
.svg__poa7E {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__iWpgZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__qiGz3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__yZAq9 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__yZAq9 > picture > img {
  object-fit: cover;
}
.img__yZAq9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
  display: none;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column__cxhDm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__cxhDm {
    width: 100%;
  }
}
.freeBox___7TeCa {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___7TeCa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___7TeCa > :global(.__wab_flex-container) > *,
.freeBox___7TeCa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7TeCa > :global(.__wab_flex-container) > picture > img,
.freeBox___7TeCa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7TeCa {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7TeCa > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__crN0Q {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.text__kYBsp {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__m8YhE:global(.__wab_instance) {
  position: relative;
}
.svg___4MbyV {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__m7XXb {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__tIjcE:global(.__wab_instance) {
  position: relative;
}
.svg__z6Hkg {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__fCPoa {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__iDvfm:global(.__wab_instance) {
  position: relative;
}
.svg__bkP34 {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__oz4O5 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__ksct3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ksct3 {
    width: 100%;
  }
}
.img__z6I1P {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__z6I1P > picture > img {
  object-fit: cover;
}
.img__z6I1P > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox__qcXfd {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__qcXfd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__qcXfd > :global(.__wab_flex-container) > *,
.freeBox__qcXfd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qcXfd > :global(.__wab_flex-container) > picture > img,
.freeBox__qcXfd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard___8HGcc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__jvbYa {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: skJ7UpQvZ_lA */;
}
.svg__wBuFm {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__krfyG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__x5JjV {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: skJ7UpQvZ_lA */;
}
.svg__sfwxV {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__zttzH:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__r7JNq {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: skJ7UpQvZ_lA */;
}
.svg__pc2OC {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__iBzk4:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gv6P {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: skJ7UpQvZ_lA */;
}
.svg__yjeR5 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__tlrZ5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__vnyms {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: skJ7UpQvZ_lA */;
}
.svg___88EbL {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__wIMnB:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___4Tjch {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: skJ7UpQvZ_lA */;
}
.svg__ls18Z {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: e1wVX9OU7EqB */;
}
.validation:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox___5R7Sn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___5R7Sn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___5R7Sn > :global(.__wab_flex-container) > *,
.freeBox___5R7Sn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5R7Sn > :global(.__wab_flex-container) > picture > img,
.freeBox___5R7Sn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__mK0G {
  display: flex;
  flex-direction: row;
}
.freeBox__mK0G > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__mK0G > :global(.__wab_flex-container) > *,
.freeBox__mK0G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mK0G > :global(.__wab_flex-container) > picture > img,
.freeBox__mK0G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__jGvKm {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__htI4B {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__aBPyO {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg___9H3N1 {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__ycn93 {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.footer:global(.__wab_instance) {
  position: relative;
  display: none;
}
