.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__vNhjN {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: e1wVX9OU7EqB */;
}
.freeBox__eEvRh {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: Hm0MDAGor0XS */;
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__eEvRh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__eEvRh > :global(.__wab_flex-container) > *,
.freeBox__eEvRh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eEvRh > :global(.__wab_flex-container) > picture > img,
.freeBox__eEvRh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eEvRh {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eEvRh > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eEvRh > :global(.__wab_flex-container) > *,
  .freeBox__eEvRh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eEvRh > :global(.__wab_flex-container) > picture > img,
  .freeBox__eEvRh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__u9M0Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__u9M0Y > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__u9M0Y > :global(.__wab_flex-container) > *,
.freeBox__u9M0Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u9M0Y > :global(.__wab_flex-container) > picture > img,
.freeBox__u9M0Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__xvUI:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__zxnyP {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.freeBox__dxMg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__iDJpR {
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__iDJpR:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.text__gmCl {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
}
.link__ek1Dl {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__ek1Dl:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__cn9Wz {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__cn9Wz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__cn9Wz > :global(.__wab_flex-container) > *,
.freeBox__cn9Wz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cn9Wz > :global(.__wab_flex-container) > picture > img,
.freeBox__cn9Wz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cn9Wz {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cn9Wz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cn9Wz > :global(.__wab_flex-container) > *,
  .freeBox__cn9Wz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cn9Wz > :global(.__wab_flex-container) > picture > img,
  .freeBox__cn9Wz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__xVauA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__xVauA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xVauA > :global(.__wab_flex-container) > *,
.freeBox__xVauA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xVauA > :global(.__wab_flex-container) > picture > img,
.freeBox__xVauA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___4IPxA {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link___1YP5C {
  font-size: 14px;
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
}
.root .link___1YP5C:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__bESct {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__bESct:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__qhake {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__qhake:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__bxBlb {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__bxBlb:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__n5Iu3 {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__n5Iu3:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__vPtx4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__vPtx4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vPtx4 > :global(.__wab_flex-container) > *,
.freeBox__vPtx4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vPtx4 > :global(.__wab_flex-container) > picture > img,
.freeBox__vPtx4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__sRj1P {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__ozLHm {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__ozLHm:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__k47Ow {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__k47Ow:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__zRluh {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__zRluh:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__yAvr4 {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__yAvr4:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__qOuKc {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__qOuKc:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__llnsi {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__llnsi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__llnsi > :global(.__wab_flex-container) > *,
.freeBox__llnsi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__llnsi > :global(.__wab_flex-container) > picture > img,
.freeBox__llnsi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___1TNz {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__pybfO {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__pybfO:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__tFcKo {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__tFcKo:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__qVhP {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__qVhP:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__qbriu {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__qbriu:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___1QV6D {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link___1QV6D:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__hYdS6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__hYdS6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hYdS6 > :global(.__wab_flex-container) > *,
.freeBox__hYdS6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hYdS6 > :global(.__wab_flex-container) > picture > img,
.freeBox__hYdS6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__voxL {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__jvuN {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__hzPp5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg___1BcMd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  width: 1em;
  height: 1em;
}
.svg__hKqCn {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.svg__sVtG6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__zOH3 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: e1wVX9OU7EqB */;
}
.freeBox__lxVsd {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: Hm0MDAGor0XS */;
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__lxVsd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lxVsd {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lxVsd > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lxVsd > :global(.__wab_flex-container) > *,
  .freeBox__lxVsd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lxVsd > :global(.__wab_flex-container) > picture > img,
  .freeBox__lxVsd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__vvma9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__nzQtQ {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  height: auto;
  font-size: 14px;
}
.root .link__nzQtQ:hover {
  text-decoration-line: underline;
}
.link__cEDtI {
  position: relative;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
  font-size: 14px;
}
.root .link__cEDtI:hover {
  text-decoration-line: underline;
}
.text__ggUx0 {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: #666666 /* plasmic-token: DHlg6zZpddw9 */;
}
.freeBox__wghPa {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__wghPa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wghPa > :global(.__wab_flex-container) > *,
.freeBox__wghPa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wghPa > :global(.__wab_flex-container) > picture > img,
.freeBox__wghPa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__iFaYk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gn9B {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__gn9B:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink___6Zl0M:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__fKzUr {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__fKzUr:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink___2B5YX:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__pwkE3 {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__pwkE3:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
