.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  justify-content: space-between;
  background: rgb(24, 25, 26);
  min-width: 0;
  border-radius: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__rFxGc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 60%;
  max-width: 1104px /* plasmic-token: Hm0MDAGor0XS */;
  padding: 64px 48px;
}
.freeBox__rFxGc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rFxGc > :global(.__wab_flex-container) > *,
.freeBox__rFxGc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rFxGc > :global(.__wab_flex-container) > picture > img,
.freeBox__rFxGc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rFxGc {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rFxGc > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__oMHlD {
  position: relative;
  color: rgb(255, 255, 255) /* plasmic-token: skJ7UpQvZ_lA */;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0px;
}
.text__auQh4 {
  position: relative;
  color: rgb(176, 179, 184) /* plasmic-token: TRf5pfsHwLE */;
}
.freeBox__tgtbJ {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__tgtbJ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__tgtbJ > :global(.__wab_flex-container) > *,
.freeBox__tgtbJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tgtbJ > :global(.__wab_flex-container) > picture > img,
.freeBox__tgtbJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tgtbJ {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tgtbJ > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tgtbJ > :global(.__wab_flex-container) > *,
  .freeBox__tgtbJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tgtbJ > :global(.__wab_flex-container) > picture > img,
  .freeBox__tgtbJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__rMnWe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__d8Lf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__vIhFb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__aybYq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__p3OtF {
  position: relative;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  font-size: 14px;
}
.freeBox___62Ccu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 40%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___62Ccu {
    display: none;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
